html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main,
header,
footer {
  display: block;
}

hr {
  overflow: visible;
}

ul {
  list-style: none;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

[hidden] {
  display: none;
}

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  background-color: #f5f6f8;
  background-image: url("../img/mountains.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

body.lock {
  overflow: hidden;
}

.remark {
  padding: 5.5px 11px;
  border-radius: 12px;
  background-color: #26e6e6;
  color: #ffffff;
  font-family: "Montserrat", "sans-serif";
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

p {
  color: #606060;
  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.btn {
  display: inline-block;
  padding: 20px 45px;
  border-radius: 25px;
  background-color: #26e6e6;
  color: #000000;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #00afaf;
}

section[data-scroll-watch] {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

section[data-scroll-watch].scroll-watch-in-view {
  opacity: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__logo {
  position: relative;
  z-index: 100;
}

.header__wrap {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__btn {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff !important;
}

.header__btn:hover {
  background-color: #696969;
}

.menu__arrow {
  width: 0;
  height: 0;
  margin: 0px 0px 0px 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #797b7c;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none;
}

.menu__body > ul {
  margin: 0 -15px;
}

.menu__body > ul > li {
  position: relative;
  margin: 0 15px;
}

.menu__btn {
  display: none;
}

.menu__sub-list {
  padding: 15px;
  min-width: 200px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
  background-color: #000000;
  text-align: center;
  -webkit-transform: translate(0, 10%);
  -ms-transform: translate(0, 10%);
  transform: translate(0, 10%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu__sub-list li {
  margin-bottom: 10px;
}

.menu__sub-list li a {
  color: #ffffff;
  position: relative;
}

.menu__sub-list li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu__sub-list li a:hover {
  color: #ffffff;
}

.menu__sub-list li a:hover::after {
  width: 100%;
}

.menu__sub-list *:last-child {
  margin-bottom: 0;
}

.menu a {
  color: #797b7c;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu a:hover {
  color: #232323;
}

/*------------------*/

body.pc .menu__body > ul > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  pointer-events: all;
}

body.pc .menu__body > ul > li:hover .menu__arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

body.pc .menu__arrow {
  display: inline-block;
}

body.touch .menu__body > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body.touch .menu__body > ul > li.active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  pointer-events: all;
}

body.touch .menu__body > ul > li.active .menu__arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

body.touch .menu__body > ul > li a {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

body.touch .menu__arrow {
  display: block;
}

/*------------------*/

.footer__wrap {
  background-color: #000000;
  border-radius: 2px;
  padding: 45px;
  margin-bottom: 130px;
}

.footer__row {
  margin: -25px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% / 5 - 30px);
  flex: 0 0 calc(100% / 5 - 30px);
  margin: 25px 15px;
}

.footer__column:last-of-type {
  justify-self: center;
}

.footer__column img {
  max-width: 100%;
}

.footer__column ul li {
  margin-bottom: 20px;
}

.footer__column ul li:last-of-type {
  margin-bottom: 0;
}

.footer__column ul li a {
  color: #ffffff;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer__column ul li a:hover {
  color: #707070;
}

.footer .made__by {
  margin-bottom: 10px;
  opacity: 0.2;
  color: #ffffff;
  font-family: "Montserrat", "sans-serif";
  font-size: 11px;
  font-weight: 300;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.footer .made__link {
  margin-bottom: 20px;
  display: inline-block;
  color: #333333;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.12px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer .made__link:hover {
  color: #ffffff;
}

.footer .made__logo {
  display: inline-block;
  margin-bottom: 80px;
}

.footer .made__socs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .made__socs li a i {
  font-size: 20px;
  color: #333333;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer .made__socs li a i:hover {
  color: #ffffff;
}

.footer-baner__wrap {
  padding: 75px 0 250px;
}

.footer-baner__title {
  color: #000000;
  font-family: "Montserrat", "sans-serif";
  font-size: 90px;
  font-weight: 800;
  line-height: 1.3;
  text-align: right;
  text-transform: uppercase;
}

.baner {
  background-image: url("../img/b-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.baner__wrap {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.baner__content {
  max-width: 430px;
}

.baner__title {
  margin-bottom: 10px;
  color: #000000;
  font-family: "Montserrat", "sans-serif";
  font-size: 72px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.baner__subtitle {
  color: #232323;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.advantages .container {
  overflow-x: hidden;
}

.advantages__wrap {
  padding: 120px 0;
}

.advantages__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% / 3 - 50px);
  flex: 0 0 calc(100% / 3 - 50px);
  margin: 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.advantages__item *:last-child {
  margin-bottom: 0;
}

.advantages__item h3 {
  margin-bottom: 25px;
  color: #232323;
  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
}

.advantages__item p {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 28px;
}

.advantages__item a {
  padding: 5px 0;
  color: #232323;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  position: relative;
}

.advantages__item a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #000000;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.advantages__item a:hover::after {
  width: 100%;
}

.advantages__img {
  min-height: 60px;
  margin-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantages__img img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -25px;
}

.types .container {
  overflow-x: hidden;
}

.types__wrap {
  padding: 120px 0;
}

.types__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% / 3 - 50px);
  flex: 0 0 calc(100% / 3 - 50px);
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.types__item *:last-child {
  margin-bottom: 0;
}

.types__item h3 {
  margin-bottom: 15px;
  color: #232323;
  font-family: "Montserrat", "sans-serif";
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.types__item p {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 25px;
}

.types__item a {
  padding: 5px 0;
  color: #232323;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  position: relative;
}

.types__item a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #000000;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.types__item a:hover::after {
  width: 100%;
}

.types__img {
  min-height: 60px;
  margin-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.types__img img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.types__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -25px;
}

.text-centered {
  background-color: #ffffff;
}

.text-centered__wrap {
  padding: 100px 0;
  text-align: center;
}

.text-centered__wrap *:last-child {
  margin-bottom: 0;
}

.text-centered__title {
  margin-bottom: 44px;
  font-family: "Montserrat", "sans-serif";
  font-size: 72px;
  font-weight: 300;
  color: #232323;
  letter-spacing: -3px;
}

.text-centered p {
  max-width: 440px;
  margin: 0 auto;
  font-family: "Montserrat", "sans-serif";
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  color: #232323;
}

.plan__wrap {
  padding: 78px 0;
}

.plan__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.plan__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% / 3 - 24px);
  flex: 0 0 calc(100% / 3 - 24px);
  margin: 12px;
  padding: 45px 35px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #f5f6f8;
}

.plan__item *:last-child {
  margin-bottom: 0;
}

.plan__item:hover {
  background-color: #000000;
}

.plan__item:hover .plan__type,
.plan__item:hover .plan__rate {
  color: #ffffff;
}

.plan__item:hover a {
  background-color: #26e6e6;
}

.plan__item:hover a:hover {
  background-color: #00afaf;
}

.plan__type {
  margin-bottom: 35px;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: #000000;
}

.plan__rate {
  margin-bottom: 30px;
  font-family: "Montserrat", "sans-serif";
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.plan p {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 50px;
}

.plan a {
  background-color: transparent;
}

.testimonials__slide {
  padding: 85px 55px 70px;
  background-color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonials__slide::before {
  content: url("../img/left-quotes.png");
  position: absolute;
  top: 41px;
  left: 38px;
}

.testimonials__slide::after {
  content: url("../img/right-quotes.png");
  position: absolute;
  bottom: 46px;
  right: 42px;
}

.testimonials__slide p {
  margin-bottom: 20px;
  color: #232323;
  font-family: 'Montserrat - Hairline';
  font-size: 42px;
  font-weight: 400;
  line-height: normal;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.testimonials__slide strong {
  color: #000000;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.testimonials__slide *:last-child {
  margin-bottom: 0;
}

.testimonials .swiper-slide {
  height: auto;
}

.do-it {
  position: relative;
}

.do-it__wrap {
  padding: 90px 0;
  min-height: 180vh;
}

.do-it__title {
  margin-bottom: 60px;
  color: #000000;
  font-family: "Montserrat", "sans-serif";
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.do-it__img {
  position: absolute;
  display: inline-block;
}

.do-it__img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.do-it__img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #232323;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  visibility: none;
}

.do-it__img a {
  padding: 15px;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #26e6e6;
  color: #000000;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.6px;
  white-space: nowrap;
  visibility: none;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.do-it__img a:hover {
  background-color: #00afaf;
}

.do-it--img-1 {
  top: 109px;
  left: 100px;
}

.do-it--img-2 {
  top: 169px;
  right: 200px;
}

.do-it--img-3 {
  top: 394px;
  right: 0;
}

.do-it--img-4 {
  top: 613px;
  left: 45%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.do-it--img-5 {
  top: 720px;
  left: 0;
}

.do-it--img-6 {
  top: 867px;
  left: 260px;
}

.do-it--img-7 {
  top: 887px;
  right: 100px;
}

.features .container {
  overflow-x: hidden;
}

.features__wrap {
  padding: 100px 0;
}

.features__title {
  margin-bottom: 40px;
  color: #000000;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.features__text {
  margin-bottom: 80px;
  color: #232323;
  font-family: "Montserrat", "sans-serif";
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -35px;
}

.features__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% / 3 - 70px);
  flex: 0 0 calc(100% / 3 - 70px);
  margin: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__img {
  margin-right: 20px;
  min-width: 60px;
  text-align: center;
}

.features__info *:last-child {
  margin-bottom: 0;
}

.features__info h3 {
  margin-bottom: 20px;
  color: #232323;
  font-family: "Montserrat", "sans-serif";
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

.features__info p {
  margin-bottom: 20px;
}

.phone-slider {
  background-color: #26e6e6;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.phone-slider:after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.phone-slider__wrap {
  position: relative;
  padding: 75px 0 60px;
  min-height: 900px;
  background-image: url("../img/3-layers.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.phone-slider .phone-swiper-container {
  width: 600px;
  height: 500px;
  position: absolute;
  left: 45%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%) rotate(325deg) skew(14deg, -2deg);
  -ms-transform: translate(-50%, -50%) rotate(325deg) skew(14deg, -2deg);
  transform: translate(-50%, -50%) rotate(325deg) skew(14deg, -2deg);
  overflow: hidden;
}

.phone-slider .swiper-slide {
  padding: 0 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}

.phone-slider .swiper-slide img {
  max-width: 340px;
}

.phone-slider .swiper-button-next,
.phone-slider .swiper-button-prev {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.4);
  outline: none;
}

.phone-slider .swiper-button-next:focus::after,
.phone-slider .swiper-button-prev:focus::after {
  border-color: #ffffff;
}

.phone-slider .swiper-button-prev,
.phone-slider .swiper-container-rtl .swiper-button-next {
  left: 0;
}

.phone-slider .swiper-button-prev:after,
.phone-slider .swiper-container-rtl .swiper-button-next:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.phone-slider .swiper-button-next:after,
.phone-slider .swiper-container-rtl .swiper-button-prev:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.phone-slider .swiper-button-prev:after,
.phone-slider .swiper-container-rtl .swiper-button-next:after,
.phone-slider .swiper-button-next:after,
.phone-slider .swiper-container-rtl .swiper-button-prev:after {
  content: '';
  border: solid rgba(255, 255, 255, 0.4);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
}

.phone-slider__text {
  position: absolute;
  z-index: 10;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -200px;
  width: 386px;
  border-radius: 2px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.phone-slider__row {
  padding: 40px 35px;
}

.phone-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.phone-slider__item:last-of-type {
  margin-bottom: 0;
}

.phone-slider__img {
  margin-right: 20px;
  min-width: 60px;
  text-align: center;
}

.phone-slider__info *:last-child {
  margin-bottom: 0;
}

.phone-slider__info h3 {
  margin-bottom: 20px;
  color: #232323;
  font-family: "Montserrat", "sans-serif";
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

.phone-slider__info p {
  margin-bottom: 20px;
}

.phone-slider__btn {
  display: inline-block;
  padding: 25px;
  width: 100%;
  border-radius: 0 0 2px 2px;
  background-color: #000000;
  color: #fffefe;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.phone-slider__btn:hover {
  background-color: #696969;
}

.change {
  position: relative;
}

.change__wrap {
  background-color: #000;
  margin: 0 110px 450px;
  padding: 130px;
}

.change__text {
  max-width: 585px;
}

.change__text *:last-child {
  margin-bottom: 0 !important;
}

.change__text p {
  max-width: 400px;
  margin-bottom: 20px;
}

.change__text p:last-of-type {
  margin-bottom: 150px;
}

.change__title {
  margin-bottom: 40px;
  color: #ffffff;
  font-family: "Montserrat", "sans-serif";
  font-size: 72px;
  font-weight: 400;
  line-height: 1.1;
}

.change__slider {
  position: absolute;
  width: 50%;
  height: 788px;
  top: 265px;
  right: 0;
  background-image: url("../img/iPad.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100px top;
  overflow: hidden;
  padding: 44px 0px 44px 200px;
}

.change .tablet-swiper-container {
  border: solid #232323;
  border-width: 3px 0px 3px 3px;
  border-radius: 4px;
  height: 100%;
  overflow: hidden;
}

.change .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ebebeb;
}

.change .swiper-slide img {
  max-width: 100%;
}

.change .swiper-button-prev {
  left: 0;
  width: 70px;
  height: 70px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  outline: none;
}

.change .swiper-button-prev:after {
  content: '';
  border: solid rgba(255, 255, 255, 0.4);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

@media (min-width: 767px) {
  .menu__body > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu__body > ul > li {
    padding: 10px 0;
  }
}

@media (min-width: 1240px) {
  .do-it__img:hover::after {
    opacity: 0.7;
    visibility: visible;
  }

  .do-it__img:hover a {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 1480px) {
  .do-it--img-1 {
    top: 109px;
    left: 270px;
  }

  .do-it--img-2 {
    top: 149px;
    right: 270px;
  }

  .do-it--img-6 {
    top: 867px;
    left: 290px;
  }

  .do-it--img-7 {
    top: 887px;
    right: 210px;
  }
}

@media (max-width: 1479px) {
  .phone-slider__text {
    right: -120px;
  }
}

@media (max-width: 1239px) {
  .footer__wrap {
    margin-bottom: 100px;
  }

  .footer-baner__wrap {
    padding: 75px 0 230px;
  }

  .footer-baner__title {
    font-size: 80px;
  }

  .baner__title {
    font-size: 68px;
  }

  .do-it {
    position: static;
  }

  .do-it__wrap {
    min-height: auto;
  }

  .do-it__row {
    line-height: 0;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }

  .do-it__img {
    position: static;
    width: 100% !important;
    height: 200px !important;
  }

  .do-it--img-4 {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .phone-slider:after {
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
  }

  .phone-slider .phone-swiper-container {
    display: none;
  }

  .phone-slider__text {
    right: auto;
    left: 0;
  }

  .change__wrap {
    margin: 0 0 450px;
    padding: 40px 20px;
  }

  .change__text p:last-of-type {
    margin-bottom: 100px;
  }

  .change__title {
    font-size: 68px;
  }

  .change__slider {
    top: 135px;
    height: 600px;
  }
}

@media (max-width: 1239px) and (max-width: 767px) {
  .do-it__row {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 1239px) and (max-width: 559px) {
  .do-it__row {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 1239px) and (max-width: 374px) {
  .do-it__row {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (max-width: 979px) {
  .footer__wrap {
    margin-bottom: 50px;
  }

  .footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 4 - 30px);
    flex: 0 0 calc(100% / 4 - 30px);
  }

  .footer-baner__wrap {
    padding: 75px 0 200px;
  }

  .footer-baner__title {
    font-size: 70px;
  }

  .baner__title {
    font-size: 64px;
  }

  .plan__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 2 - 24px);
    flex: 0 0 calc(100% / 2 - 24px);
    padding: 30px 20px;
  }

  .phone-slider__text {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .change__title {
    font-size: 64px;
  }

  .change__slider {
    height: 500px;
  }
}

@media (max-width: 767px) {
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #26e6e6;
  }

  .menu__btn {
    border: none;
    z-index: 100;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    outline-offset: 5px;
    background-color: transparent;
  }

  .menu__btn.active span {
    -webkit-transform: scale(0) translate(0, -50%);
    -ms-transform: scale(0) translate(0, -50%);
    transform: scale(0) translate(0, -50%);
  }

  .menu__btn.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
    -ms-transform: rotate(-45deg) translate(0, -50%);
    transform: rotate(-45deg) translate(0, -50%);
  }

  .menu__btn.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
    -ms-transform: rotate(45deg) translate(0, 50%);
    transform: rotate(45deg) translate(0, 50%);
  }

  .menu__btn span,
  .menu__btn::before,
  .menu__btn::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #232323;
  }

  .menu__btn::before,
  .menu__btn::after {
    content: '';
  }

  .menu__btn::before {
    top: 0;
  }

  .menu__btn::after {
    bottom: 0;
  }

  .menu__btn span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
    -ms-transform: scale(1) translate(0, -50%);
    transform: scale(1) translate(0, -50%);
  }

  .menu__body {
    padding: 100px 30px 30px;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: auto;
  }

  .menu__body.active {
    left: 0;
  }

  .menu__body > ul *:last-child {
    margin-bottom: 0;
  }

  .menu__body > ul > li {
    margin-bottom: 30px;
  }

  .menu__body > ul > li.active .menu__sub-list {
    display: block;
  }

  .menu__body > ul > li a {
    font-size: 20px;
  }

  .menu__sub-list {
    margin: 20px 0px 0px 0px;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    display: none;
  }

  .menu__sub-list a {
    color: black;
  }

  .footer__wrap {
    margin-bottom: 0;
  }

  .footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 3 - 30px);
    flex: 0 0 calc(100% / 3 - 30px);
  }

  .footer-baner__wrap {
    padding: 75px 0 180px;
  }

  .footer-baner__title {
    font-size: 60px;
  }

  .baner__title {
    font-size: 60px;
  }

  .advantages__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 2 - 50px);
    flex: 0 0 calc(100% / 2 - 50px);
  }

  .types__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 2 - 50px);
    flex: 0 0 calc(100% / 2 - 50px);
  }

  .text-centered__title {
    font-size: 60px;
  }

  .testimonials__slide p {
    font-size: 35px;
  }

  .features__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 2 - 70px);
    flex: 0 0 calc(100% / 2 - 70px);
  }

  .change__wrap {
    margin: 0;
  }

  .change__title {
    font-size: 60px;
  }

  .change__slider {
    display: none;
  }
}

@media (max-width: 559px) {
  .footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 2 - 30px);
    flex: 0 0 calc(100% / 2 - 30px);
  }

  .footer-baner__wrap {
    padding: 75px 0 150px;
  }

  .footer-baner__title {
    font-size: 50px;
  }

  .baner__title {
    font-size: 50px;
  }

  .advantages__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 1);
    flex: 0 0 calc(100% / 1);
    margin: 25px 0;
  }

  .advantages__list {
    margin: -25px 0;
  }

  .types__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 1);
    flex: 0 0 calc(100% / 1);
    margin: 25px 0;
  }

  .types__list {
    margin: -25px 0;
  }

  .text-centered__title {
    font-size: 50px;
  }

  .plan__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 1);
    flex: 0 0 calc(100% / 1);
    margin: 0px 0px 20px 0px;
    padding: 20px;
  }

  .testimonials__slide p {
    font-size: 30px;
  }

  .features__row {
    margin: -20px 0;
  }

  .features__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 1);
    flex: 0 0 calc(100% / 1);
    margin: 20px 0;
  }

  .phone-slider:after {
    background-color: #26e6e6;
  }

  .phone-slider__wrap {
    padding: 40px 0;
    min-height: auto;
  }

  .phone-slider__text {
    width: 100%;
    position: relative;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  .phone-slider__row {
    padding: 20px;
  }

  .change__text p:last-of-type {
    margin-bottom: 50px;
  }

  .change__title {
    font-size: 50px;
  }
}

@media (max-width: 374px) {
  .footer__row {
    margin: -15px 0;
  }

  .footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 1);
    flex: 0 0 calc(100% / 1);
    margin: 25px 0;
    text-align: center;
  }

  .footer-baner__wrap {
    padding: 75px 0 100px;
  }

  .footer-baner__title {
    font-size: 40px;
  }

  .baner__title {
    font-size: 44px;
  }

  .text-centered__title {
    font-size: 40px;
  }

  .testimonials__slide p {
    font-size: 24px;
  }

  .change__title {
    font-size: 44px;
  }
}
@supports (-webkit-appearance:none){
body{background-image:url("../img/mountains.webp")}
.baner{background-image:url("../img/b-bg.webp")}
.phone-slider__wrap{background-image:url("../img/3-layers.webp")}
.change__slider{background-image:url("../img/iPad.webp")}
}

 @media (min-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1240px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1480px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1479px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1239px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1239px) and (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1239px) and (max-width: 559px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1239px) and (max-width: 374px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 979px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 559px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 374px){

@supports (-webkit-appearance:none){

}

}
