<section class="advantages" data-scroll-watch>
  <div class="container">
    <div class="advantages__wrap">
      <ul class="advantages__list">
        <li class="advantages__item">
          <div class="advantages__img">
            <img src="./img/mail.png" alt="mail" />
          </div>
          <h3>GET A CUSTOMIZED EMAIL ADDRESS AND MORE</h3>
          <p>
            Looking cautiously round, to ascertain that they were not overheard,
            the two hags cowered nearer to the fire, and chuckled heartily.
          </p>
          <a href="#" target="_blank">Learn More</a>
        </li>

        <li class="advantages__item">
          <div class="advantages__img">
            <img src="./img/edit.png" alt="mail" />
          </div>
          <h3>40 MILLION HIGH QUALITY IMAGES</h3>
          <p>
            At first, for some time, I was not able to answer him one word; but
            as he had taken me in his arms I held fast by him, or I should have
            fallen to the ground.
          </p>
          <a href="#" target="_blank">Learn More</a>
        </li>

        <li class="advantages__item">
          <div class="advantages__img">
            <img src="./img/card.png" alt="mail" />
          </div>
          <h3>CREATE A SIMPLE LOGO <span class="remark">new</span></h3>
          <p>
            She gave my mother such a turn, that I have always been convinced I
            am indebted to Miss Betsey for having been born on a Friday.
          </p>
          <a href="#" target="_blank">get started</a>
        </li>
      </ul>
    </div>
  </div>
</section>
