<section class="change" data-scroll-watch>
  <div class="change__wrap">
    <div class="change__text">
      <h2 class="change__title">This will change everything</h2>
      <p>
        Your eCommerce website is just the start. Whether you are an established
        business or on the brink of a new idea, Squarespace gives you the tools
        to take your business from online store to recognized brand.
      </p>
      <a href="#" target="_blank" class="change__btn btn">get started</a>
    </div>
  </div>

  <div class="change__slider">
    <div class="tablet-swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./img/header-logo.png" alt="screen" />
        </div>
        <div class="swiper-slide">
          <img src="./img/header-logo.png" alt="screen" />
        </div>
        <div class="swiper-slide">
          <img src="./img/header-logo.png" alt="screen" />
        </div>
      </div>

      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
