<section class="do-it" data-scroll-watch>
  <div class="do-it__wrap">
    <h2 class="do-it__title">Do it by yourself</h2>
    <div class="do-it__row">
      <div class="do-it__img do-it--img-1">
        <img src="./img/do-it1.png" alt="man" />
        <a href="http://#" target="_blank">View Demo</a>
      </div>

      <div class="do-it__img do-it--img-2">
        <img src="./img/do-it2.png" alt="man" />
        <a href="http://#" target="_blank">View Demo</a>
      </div>

      <div class="do-it__img do-it--img-3">
        <img src="./img/do-it3.png" alt="man" />
        <a href="http://#" target="_blank">View Demo</a>
      </div>

      <div class="do-it__img do-it--img-4">
        <img src="./img/do-it4.png" alt="man" />
        <a href="http://#" target="_blank">View Demo</a>
      </div>

      <div class="do-it__img do-it--img-5">
        <img src="./img/do-it5.png" alt="man" />
        <a href="http://#" target="_blank">View Demo</a>
      </div>

      <div class="do-it__img do-it--img-6">
        <img src="./img/do-it6.png" alt="man" />
        <a href="http://#" target="_blank">View Demo</a>
      </div>

      <div class="do-it__img do-it--img-7">
        <img src="./img/do-it7.png" alt="man" />
        <a href="http://#" target="_blank">View Demo</a>
      </div>
    </div>
  </div>
</section>
