<section class="features" data-scroll-watch>
  <div class="container">
    <div class="features__wrap">
      <h2 class="features__title">Platform Features</h2>
      <p class="features__text">
        At first, for some time, I was not able to answer him one word; but as
        he had taken me in his arms I held fast by him, or I should have fallen
        to the ground.
      </p>
      <ul class="features__row">
        <li class="features__item">
          <div class="features__img">
            <img src="./img/feature1.png" alt="feature item" />
          </div>
          <div class="features__info">
            <h3>Dashboard</h3>
            <p>
              Looking cautiously round, to ascertain that they were not
              overheard, the two hags cowered nearer to the fire, and chuckled
              heartily.
            </p>
          </div>
        </li>

        <li class="features__item">
          <div class="features__img">
            <img src="./img/feature2.png" alt="feature item" />
          </div>
          <div class="features__info">
            <h3>Discussions</h3>
            <p>
              This I have produced as a scantling of Jack’s great eloquence and
              the force of his reasoning upon such abstruse matters.
            </p>
          </div>
        </li>

        <li class="features__item">
          <div class="features__img">
            <img src="./img/feature3.png" alt="feature item" />
          </div>
          <div class="features__info">
            <h3>Mobile Apps</h3>
            <p>
              This sounded a very good reason, and Alice was quite pleased to
              know it. 'I never thought of that before!' she said..
            </p>
          </div>
        </li>

        <li class="features__item">
          <div class="features__img">
            <img src="./img/feature4.png" alt="feature item" />
          </div>
          <div class="features__info">
            <h3>Fully Customizable</h3>
            <p>
              She gave my mother such a turn, that I have always been convinced
              I am indebted to Miss Betsey for having been born on a Friday.
            </p>
          </div>
        </li>

        <li class="features__item">
          <div class="features__img">
            <img src="./img/feature5.png" alt="feature item" />
          </div>
          <div class="features__info">
            <h3>Ecommerce</h3>
            <p>
              It was some time before he obtained any answer, and the reply,
              when made, was unpropitious.
            </p>
          </div>
        </li>

        <li class="features__item">
          <div class="features__img">
            <img src="./img/feature6.png" alt="feature item" />
          </div>
          <div class="features__info">
            <h3>Statistics</h3>
            <p>
              Thus much I thought proper to tell you in relation to yourself,
              and to the trust I reposed in you.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
