<footer class="footer" data-scroll-watch>
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__row">
        <div class="footer__column">
          <div class="footer__logo">
            <a href="/"> <img src="./img/footer-logo.png" alt="logo" /></a>
          </div>
        </div>

        <div class="footer__column">
          <ul>
            <li><a href="#" target="_blank">Pages</a></li>
            <li><a href="#" target="_blank">Elements</a></li>
            <li><a href="#" target="_blank">Product</a></li>
            <li><a href="#" target="_blank">Blog</a></li>
            <li><a href="#" target="_blank">Work</a></li>
          </ul>
        </div>

        <div class="footer__column">
          <ul>
            <li><a href="#" target="_blank">Support</a></li>
            <li><a href="#" target="_blank">Answers</a></li>
            <li><a href="#" target="_blank">Workshops</a></li>
            <li><a href="#" target="_blank">specials</a></li>
          </ul>
        </div>

        <div class="footer__column">
          <ul>
            <li><a href="#" target="_blank">Terms of use</a></li>
            <li><a href="#" target="_blank">Privacy Policy</a></li>
            <li><a href="#" target="_blank">contacts</a></li>
            <li><a href="#" target="_blank">About us</a></li>
          </ul>
        </div>

        <div class="footer__column made">
          <h4 class="made__by">made by</h4>
          <div>
            <a href="#" target="_blank" class="made__logo">
              <img src="./img/made-logo.png" alt="made logo" />
            </a>
          </div>
          <div>
            <a href="#" target="_blank" class="made__link">
              www.getcraftwork.com
            </a>
          </div>

          <ul class="made__socs">
            <li>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-behance"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-dribbble"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
