<header class="header" data-scroll-watch>
  <div class="container">
    <div class="header__wrap">
      <a href="/" class="header__logo">
        <img src="./img/header-logo.png" alt="logo" />
      </a>

      <div class="header__menu menu">
        <button class="menu__btn">
          <span></span>
        </button>
        <nav class="menu__body">
          <ul>
            <li>
              <a href="#">home</a>
            </li>
            <li>
              <a href="#">pages</a>
              <span class="menu__arrow"></span>
              <ul class="menu__sub-list">
                <li>
                  <a href="#">Page 1</a>
                </li>
                <li>
                  <a href="#">Page 2</a>
                </li>
                <li>
                  <a href="#">Page 3</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Elements</a>
              <span class="menu__arrow"></span>
              <ul class="menu__sub-list">
                <li>
                  <a href="#">Element 1</a>
                </li>
                <li>
                  <a href="#">Element 2</a>
                </li>
                <li>
                  <a href="#">Element 3</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Product</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Work</a>
            </li>
            <li>
              <a href="#" target="_blank" class="header__btn">
                start a project
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
