<section class="phone-slider" data-scroll-watch>
  <div class="container">
    <div class="phone-slider__wrap">
      <div class="phone-swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/footer-logo.png" alt="logo" />
          </div>
          <div class="swiper-slide">
            <img src="./img/footer-logo.png" alt="logo" />
          </div>
          <div class="swiper-slide">
            <img src="./img/footer-logo.png" alt="logo" />
          </div>
        </div>

        <div class="swiper-button-prev swiper-btn"></div>
        <div class="swiper-button-next swiper-btn"></div>
      </div>

      <div class="phone-slider__text">
        <ul class="phone-slider__row">
          <li class="phone-slider__item">
            <div class="phone-slider__img">
              <img src="./img/phone-slider1.png" alt="phone-slider item" />
            </div>
            <div class="phone-slider__info">
              <h3>Create a beautiful website.</h3>
              <p>
                Whether you want to create a blog, eCommerce store, portfolio,
                or all of the above, you can express your idea with a website
                powered by our elegant yet intuitive platform.
              </p>
            </div>
          </li>

          <li class="phone-slider__item">
            <div class="phone-slider__img">
              <img src="./img/phone-slider2.png" alt="phone-slider item" />
            </div>
            <div class="phone-slider__info">
              <h3>Make your our business.</h3>
              <p>
                From goods to services, every business needs a space online to
                bring in customers.
              </p>
            </div>
          </li>

          <li class="phone-slider__item">
            <div class="phone-slider__img">
              <img src="./img/phone-slider3.png" alt="phone-slider item" />
            </div>
            <div class="phone-slider__info">
              <h3>Be artist</h3>
              <p>
                An artist should always have control over their creative
                process.
              </p>
            </div>
          </li>
        </ul>
        <a href="#" target="_blank" class="phone-slider__btn">get started</a>
      </div>
    </div>
  </div>
</section>
