<section class="plan" data-scroll-watch>
  <div class="container">
    <div class="plan__wrap">
      <ul class="plan__list">
        <li class="plan__item">
          <h3 class="plan__type">Beginner</h3>
          <h3 class="plan__rate">$4.99</h3>
          <p>
            Alice wondered a little at this, but she was too much in awe of the
            Queen to disbelieve it. 'I'll try it when I go home,' she thought to
            herself, 'the next time I'm a little late for dinner.'
          </p>
          <a href="#" target="_blank" class="btn">get started</a>
        </li>
        <li class="plan__item">
          <h3 class="plan__type">Standart</h3>
          <h3 class="plan__rate">$14.99</h3>
          <p>
            You can create as many sections as you like, with or without
            paralaxx, it’s up to you! Brooklyn does not limit your
            imagination,see our 8 demos.
          </p>
          <a href="#" target="_blank" class="btn">get started</a>
        </li>
        <li class="plan__item">
          <h3 class="plan__type">Pro</h3>
          <h3 class="plan__rate">$99.99</h3>
          <p>
            Now the races of these two have been for some ages utterly extinct,
            and besides to discourse any further of them would not be at all to
            my purpose.
          </p>
          <a href="#" target="_blank" class="btn">get started</a>
        </li>
      </ul>
    </div>
  </div>
</section>
