<section class="testimonials" data-scroll-watch>
  <div class="testimonials__wrap">
    <div class="testimonials__slider">
      <div class="testimonials__swiper-container swiper-container">
        <div class="swiper-wrapper">
          <div class="testimonials__slide swiper-slide">
            <p>
              It was some time before he obtained any answer, and the reply,
              when made, was unpropitious.
            </p>
            <strong>Sir Walter Scott</strong>
          </div>
          <div class="testimonials__slide swiper-slide">
            <p>
              She gave my mother such a turn, that I have always been convinced
              I am indebted to Miss Betsey for having been born on a Friday.
            </p>
            <strong>charles dickens</strong>
          </div>
          <div class="testimonials__slide swiper-slide">
            <p>
              This I have produced as a scantling of Jack’s great eloquence and
              the force of his reasoning upon such abstruse matters.
            </p>
            <strong>jonathan swift</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
