<section class="types" data-scroll-watch>
  <div class="container">
    <div class="types__wrap">
      <ul class="types__list">
        <li class="types__item">
          <h3>Dummy Content</h3>
          <p>
            Can make website design much easier and with our shortcode manager
            you can now create them even faster. Choose your desired shortcode
            and the manager will insert it for you.
          </p>
          <a href="#" target="_blank">Learn More</a>
        </li>

        <li class="types__item">
          <h3>Parallax Sections</h3>
          <p>
            You can create as many sections as you like, with or without
            paralaxx, it’s up to you! Brooklyn does not limit your
            imagination,see our 8 demos.
          </p>
          <a href="#" target="_blank">Learn More</a>
        </li>

        <li class="types__item">
          <h3>Clean Code</h3>
          <p>
            Brooklyn has been built with the latest submission requirements
            based on the WordPres Codex, everything is working as intended.
          </p>
          <a href="#" target="_blank">Learn More</a>
        </li>
      </ul>
    </div>
  </div>
</section>
