.change {
  position: relative;
  &__wrap {
    background-color: #000;
    margin: 0 110px 450px;
    padding: 130px;
    @include respond-below(lg) {
      margin: 0 0 400px;
      padding: 40px 20px;
    }
    @include respond-below(md_plus) {
      margin: 0 0 200px;
    }
    @include respond-below(md) {
      margin: 0;
    }
  }
  &__text {
    max-width: 585px;
    *:last-child {
      margin-bottom: 0 !important;
    }
    p {
      max-width: 400px;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 150px;
        @include respond-below(lg) {
          margin-bottom: 100px;
        }
        @include respond-below(sm) {
          margin-bottom: 50px;
        }
      }
    }
  }
  &__title {
    margin-bottom: 40px;
    color: $color-white;
    font-family: $ff-base;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.1;
    @include respond-below(lg) {
      font-size: 68px;
    }
    @include respond-below(md_plus) {
      font-size: 64px;
    }
    @include respond-below(md) {
      font-size: 60px;
    }
    @include respond-below(sm) {
      font-size: 50px;
    }
    @include respond-below(xs) {
      font-size: 44px;
    }
  }
  &__slider {
    position: absolute;
    width: 50%;
    height: 788px;
    top: 265px;
    right: 0;
    background-image: url('../img/iPad.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100px top;
    overflow: hidden;
    padding: 44px 0px 44px 200px;
    @include respond-below(lg) {
      top: 135px;
      height: 600px;
    }
    @include respond-below(md_plus) {
      height: 500px;
    }
    @include respond-below(md) {
      display: none;
    }
  }
  .tablet-swiper-container {
    border: solid $color-lightblack;
    border-width: 3px 0px 3px 3px;
    border-radius: 4px;
    height: 100%;
    overflow: hidden;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    img {
      max-width: 100%;
    }
  }
  .swiper-button-prev {
    left: 0;
    width: 70px;
    height: 70px;
    border: 3px solid rgba($color-white, 0.2);
    border-radius: 50%;
    outline: none;
    &:after {
      content: '';
      border: solid rgba($color-white, 0.4);
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 6px;
      transform: rotate(135deg);
    }
  }
}
