.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  background-color: $color-lightgrey;
  background-image: url('../img/mountains.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  &.lock {
    overflow: hidden;
  }
}

.remark {
  padding: 5.5px 11px;
  border-radius: 12px;
  background-color: $color-lightblue;
  color: $color-white;
  font-family: $ff-base;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

p {
  color: #606060;
  font-family: $ff-base;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.btn {
  display: inline-block;
  padding: 20px 45px;
  border-radius: 25px;
  background-color: $color-lightblue;
  color: $color-black;
  font-family: $ff-base;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  transition: $transition-base;
  &:hover {
    background-color: $color-lightblue-hover;
  }
}

section[data-scroll-watch] {
  opacity: 0;
  transition: opacity 1s;
  &.scroll-watch-in-view {
    opacity: 1;
  }
}
